GOOGLE_OAUTH_ID=[get this from google dev console]
GOOGLE_OAUTH_SECRET=[get this from google dev console]
MONGO_URI=[get this from mLab console]
COOKIE_KEY=[just make up a random string]
STRIPE_PUBLIC=[get this from stripe dashboard]
STRIPE_SECRET=[get this from stripe dashboard]
SENDGRID_API_KEY=[get this from sendgrid dashboard]
RESPONSE_REDIRECT=[base webapp url]